.main_bar 
  .header__main
    .header__main__massage
      a
      .br
        Member:
    .header__main__btn
      Edit
  .main__contents
    .main__contents__blc
      c
    .main__contents__blc2
      2019/11/11
    .br
      This is my 1st message
  .form
    %input{class:"type",placeholder:"type a messge",size:"100"}      
      %label{class: "input-box__inner"}
        = icon'fas', 'image'
        %input{type: "file",class:"input-file"}
    %input{class:"submit",type:"submit",value:"send"}