// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper{
  display: flex;
}
  .side_bar
    .header__side{
      background-color: #253141;
      color: #FFFFFF;
      width: 260px;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 20px;
      padding-left: 20px;
      font-size: 16px;
      font-weight: bold;
      &__contents{
      color: #FFFFFF;
      display: flex;
      justify-content: space-between;
      }
    }

    .side__contents{
      background-color: #2f3e52;
      color: #FFFFFF;
      width: 300px;
      height: 700px;
      &__blc1{
      display: block;
      align-items: center;
      font-size: 15px;
      padding-top: 20px;
      padding-right: 20px;
      padding-left: 20px;
      }  
      &__blc{
      display: block;
      align-items: center;
      font-size: 15px;
      padding-top: 40px;
      padding-right: 20px;
      padding-left: 20px;
      } 
      .br{
        font-size: 11px;
        padding-right: 20px;
        padding-left: 20px;
      }
    }

  .main_bar
    .header__main {
      background-color: #FFFFFF;
      width: calc(100vh + 300px);
      height: 100px;
      display: flex;
      justify-content: space-between;
      border: solid 1px #eeeeee;
      &__massage{
        font-size: 20px;
        color :#333333;
        padding-top: 35px;
        padding-right: 15px;
        padding-left: 40px;      
      }   
      &__btn {
        margin: 28px 40px;
        padding: 10px 20px;
        border: solid 1px;
      }            
      .br{
        font-size: 12px;
        color: #999999;
        }      
    }

    .main__contents {
      background-color: #fafafa;
      width: 100%;
      height: calc(100% - 100px);
      padding-left: 40px;
      &__blc {
        display: inline-block;
        color: #434A54;
        font-size: 16px;
        font-weight: bold;
        padding-top: 46px;
        padding-bottom: 10px;
      }
      &__blc2 {
        display: inline-block;
        color: #999999;
        font-size: 12px;
        padding-left: 10px;
      }
      .br {
        font-size: 14px;
        color: #434A54;
      }
    }

    .form {
      display: flex;
      padding: 10px 40px;
      height: 40px;
      width: 100%;
      font-size: 16px;
      background-color: #ddd;
      position: fixed;
      bottom: 0;
    
      .type {
        padding: 5px；
      }
       .input-box__inner {
         padding: 10px;
       }
        .input-file {
          display: none;
        }
      .submit {
        color: #ffffff;
        background-color: #38AEF0;
        font-size: 20px;
        padding: 5px;
      }
    }